:host {
  .event-image {
    width: 100%;
    height: 250px;
    overflow: hidden;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 8px 8px 0 0;
    }
  }

  ion-card {
    margin: 16px;
    border-radius: 8px;
  }

  .event-description {
    margin-bottom: 10px;
  }
}
