:host {
  .profile-title {
    margin-bottom: 10px;
  }

  .profile-avatar {
    width: 120px;
    height: 120px;
    margin: 0 auto 12px;
    border: 4px solid var(--ion-color-primary);
  }

  .description-block {
    margin-top: 16px;
  }

  .description-block h3 {
    margin-bottom: 8px;
    color: var(--ion-color-primary);
  }
}
